# API Keys & Secrets (Sangat Penting!)
APIKEY CLOUDINARY.txt
APIKEY openrouter.txt
*.txt.bak
.env

# Database (Data User, History, & Pool API)
server/*.db
server/*.db-journal

# Python
__pycache__/
*.py[cod]

# System Files
.DS_Store
Thumbs.db
node_modules/
.gemini/

.vercel
